.entry {
	margin: 5px 5px 5px 5px;
	border-width:3px;
	background-color: #ccffff;
}
#results, #search-form {
	background-color: #dcfff3;
	width:1000px;
	margin:0 auto;
	padding: 5px;
}
#results li{
	list-style:none;
}
.page {

	background-color:#66CCCC
}	
	body {
    color: #444;
    font: 14px "Droid Sans",arial,helvetica,sans-serif;
    line-height: 1.5em;
}